/* font family */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header style section */
header {
    padding: 0px 100px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 3rem;
    height: 2rem;
    margin-right: 10px;
}

.logo h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.logo h3 span {
    color: #ff42a5;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu li {
    list-style: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px;
}

.nav-menu li a {
    margin-right: 15px;
    text-decoration: none;
    color: #3C354F;
}

.follow-menu {
    margin-top: -5px;
    padding: 5px;
    /* border: 1px solid red; */
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}

.follow-menu small,
i {
    margin-right: 5px;
}

.follow-menu #youtube {
    color: red;
}

.follow-menu #tiktok {
    color: black;
}

/* main section style */
main {
    padding: 0px 50px;

}

.banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    background-image: url('./images/Group\ 14.png');
    padding: 130px 70px;
    border-radius: 30px;

}

.banner-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title span {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #F948B2;
}

.banner-content i {
    color: #FF42A5;
    margin-right: 10px;
}

.banner-content li {
    list-style: none;
}

.banner-content p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}

.banner-btns {
    text-align: center;
    margin-top: 50px;
}

.sign-btn {
    font-size: 1.25rem;
    border-radius: 25px;
    background-color: #FF42A5;
    color: #ffffff;
    padding: 15px 30px;
    gap: 10px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 20px;
}

.rogue-btn {
    font-size: 1.25rem;
    border-radius: 25px;
    background-color: #4EC5F7;
    color: #ffffff;
    padding: 15px 30px;
    gap: 10px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}

/* funny video style section */
.funny-video {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px 50px;
    text-align: center;
}

.funny-video p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}

.funny-video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.section-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
}

.section-title span {
    color: #F948B2;
}

.video-Items {
    position: relative;
    margin: 20px;
    cursor: pointer;

}

.video-Items img {
    width: 100%;
    border-radius: 8px;
}

.play-icon {
    position: absolute;
    top: 0%;
    left: 0%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 100px 70px 40px 100px;
    display: none;
    border-radius: 8px;

}

.play-icon i {
    font-size: 32px;
}

.video-Items:hover .play-icon {
    display: block;
}

.video-Items .watch {
    color: #FF42A5;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

/* play style section */
.play-now {
    align-items: center;
}

.play-container {
    display: flex;
    justify-content: space-between;

}

.play-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 60px;
}

.play-title span {
    color: #F948B2;
}

.play-content {
    padding-top: 100px;
}

.play-content p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
}

.play-image #image-front {
    width: 90%;
}

.min-img img {
    position: relative;
    width: 200px;
    bottom: 180px;
    left: -100px;
    border-radius: 5px;

}

/* GENRES style section */
.GENRES {


    margin-bottom: 90px;
    border-radius: 20px;

}

.GENRES-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.GENRES-items {
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 50px;
    background: #FFF;

}

.GENRES-items p {
    font-size: 0.825rem;
    font-weight: 600;
}

.GENRES-items:hover {
    border: 2px solid #F948B2;
    color: #FF42A5;
    cursor: pointer;
}

/* footer style section */
footer {
    padding-bottom: 50px;
    background: #0B0223;
}

.footer-container {
    text-align: center;


}

.footer-container P {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.footer-logo img {
    width: 3rem;
    height: 2rem;
    margin-right: 10px;
}

.footer-logo h3 {
    font-size: 2.5rem;
    font-weight: 700;
}

.footer-logo h3 span {
    color: #ff42a5;
}


.footer-content>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.footer-content li {
    list-style: none;
    margin-right: 20px;
    padding: 20px;

}

.footer-content li a {
    text-decoration: none;
    color: #fff;
}



.footer-icons ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #FFF;
    gap: 20px;
}

.footer-icons li {
    list-style: none;
    padding: 20px;
}

.footer-icons li i {
    font-size: 30px;
    cursor: pointer;
}


.footer-policy>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    color: rgba(255, 255, 255, 0.60);
    margin-bottom: 10px;
}

.footer-policy li {
    cursor: pointer;
    list-style: none;
    margin-right: 20px;
    padding: 20px;

}






/* Responsive Style Sheet */
/* Mobile Devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .nav-menu > ul,
    .banner-container {
        flex-direction: column;
    }

    .banner-container img {
        width: 100%;
    }

    .banner-content {
        padding: 20px;
    }

    .banner-btns {
        margin-top: 25px;
    }

    .sign-btn {
        margin-bottom: 10px;
    }

    .funny-video-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .play-container {
        align-items: center;
        flex-direction: column;

    }

    .play-image #image-front {
        width: 100%;
    }

    .min-img img {
        position: relative;
        width: 120px;
        bottom: 130px;
        left: -30px;
        border-radius: 5px;
    }

    .GENRES {
        margin-bottom: 20px;
    }

    .GENRES-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
    }

}


/* medium devices */
@media screen and (min-width:577px) and (max-width:960px) {
    header {
        padding: 50px;
    }
    nav,
    .banner-container {
        flex-direction: column;
    }

    .funny-video-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .play-container {
        align-items: center;
        flex-direction: column;

    }

    .play-image #image-front {
        width: 100%;
    }

    .min-img img {
        position: relative;
        width: 150px;
        bottom: 130px;
        left: -40px;
        border-radius: 5px;
    }

    .GENRES {
        margin-bottom: 40px;
    }

    .GENRES-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 15px;

    }
}